@import "tailwindcss";

html {
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', 'sans-serif';
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #0a162a !important; */
  font-family: inherit;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: inherit;
}